<% provide(:title, 'About') %>
<div class="container">
  
  <div class="row center">
    <h1  class="landing2" style="margin-top:5px;">Welcome to Fitcasts</h1>
    
    <h2 class="landing" style="font-weight:bold;">
       We create amazing workout plans from the best Youtube fitness videos tailored to you.
    </h2>
    <div class="span7-fluid center" style="max-width:800px; padding: 10px;text-align:left; font-size:18px;"> 
      <ul style="text-align:left; font-size:18px;">
        <li>Use over <a href="http://www.fitcasts.com/advanced">700 workout videos</a> on any mobile device for all of your fitness needs
        </li>
        <li>Utilize our unique search engine to quickly find the perfect workout for you
        </li>
        <li>Create <a href="http://www.fitcasts.com/programs">a personalized workout program</a> to achieve your fitness goals</li>
        <li>Get people to subscribe and use your program by sharing it on Facebook and Twitter</li>
        <li>Analyze your body’s progress by using our weight, BMI, and BMR tracking tools
        </li>
        <li>Save videos in your profile so you can easily access them later</li>
      </ul>
      <!-- Callout Panel -->
      <p class="callout">
        We’re on a mission to become THE destination for users of workout videos and appreciate your help in making this a reality.  We want to eliminate the clutter and confusion created by fitness and video sites and make it easy for you to find the tools you need to become a fitter you. 
        <br>
        <br>
        Have suggestions or feedback?  Please let us know your thoughts by emailing us at feedback@fitcasts.com. We want to make sure our service meets your needs and exceeds your expectations. We welcome any and all feedback!
        <br>
        <br>
        Thank you again, and welcome to Fitcasts.
        <br>
        <br>
        The Fitcasts Team
      </p><!-- /Callout Panel --> 

    </div>
  </div>
</div>