<% provide(:title, 'Contact') %>
<div class="container">
	
	<div class="row center">
		<h1  class="landing2" style="margin-top:5px;">For Trainers</h1>
		<div class="span7-fluid center" style="max-width:800px; padding: 10px;text-align:left; font-size:24px;">
			<p>
				If you have YouTube videos you would like for us to add to Fitcasts, please contact feedback@fitcasts.com.  Before you reach out, please make sure your videos are instructional in nature and meet the following criteria:

				<br>
				<br>
				1) Do you demonstrate how to perform each exercise in the workout? 
				<br>
				<br>
				2) Do you perform the entire workout while motivating the viewer?
				<br>
				<br>	
				3) Do you make it clear what equipment the viewer will need?
				<br>
				<br>
				Thank you for your interest in Fitcasts, and we look forward to hearing from you!
				<br>
				<br>

Best,
<br>
The Fitcasts Team

			</p>
		</div>
	</div>
</div>