<div id="myModal2" class="modal fade in" tabindex="-1" role="dialog" data-backdrop="true" data-keyboard="true" style="display:none;">
  <div class="modal-body">
    <h2 class="landing" style="font-weight:bold; text-align:center;">
      Thank you for signing up!</h2> 

      <p style="font-weight:bold; text-align:center;">Get a personalized fitness program from Fitcast by sharing our website with your friends.
    </p>
<div class="row center"> 
<ul class="inline">
      <li><a class="btn btn-primary btn-sm btn-responsive" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.fitcasts.com<%= video_path %>"> <img height="20" width="20" src="../images/icons/flat-icons/facebook.png" alt="team"> Share</a></li> 
      <li><a class="btn btn-primary btn-sm btn-responsive" href="https://twitter.com/intent/tweet?text=The fastest way to find the right workout for you @fit_casts&url=http://www.fitcasts.com"><img height="20" width="20" src="../images/icons/flat-icons/twitter.png" alt="team"> Share</a></li>
  </ul>
  </div>  
  </div>
</div>